
.header{
  display: flex;
  flex-wrap: nowrap;
  padding: 92px 24px 96px;
}

.header__menu{
  padding: 44px 36px 29px 27px;
}

.header__links-list{
  display: flex;
  gap: 31px;
  list-style: circle;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #000;
}

.header__links-list-item{
  text-decoration: none;
}

.header__links-list-item_no-bullit{
  list-style: none;
}

.header__logo{
  max-width: 148px;
  max-height: 105px;
  padding: 1px 6px 0 5px;
}



.cover{
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.overlay{
  position: absolute;
  inset: 0;
  background: #000000;
  opacity: 0.6;
  z-index: -1;
}

.cover__title{
  padding: 165px 50px 135px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.cover__title_letter-spacing{
  letter-spacing: 0.6em;
}

.aligned-text{
  display: block;
}

.aligned-text:not(:last-child){
  margin-bottom: 20px;
}

.aligned-text:not(:first-child){
  line-height: 100px;
}

.cover__description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 51px 78px;
  color: #FFF;
}

.cover__description-text{
  padding: 12px 0 11px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFF;
}

.cover__description-text_first-word-spacing{
  word-spacing: 20px;
}

.cover__description-text_second-word-spacing{
  word-spacing: 18px;
}

.bet-button{
  padding: 12px 32px;
  background-color: transparent;
  border: 1px solid #FFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color:#FFF;
  cursor: pointer;
}

.lots__heading{
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000;
}

.lots{
  padding: 179px 24px 0;
}

.lots__card-list{
  display: flex;
  margin: 27px 0 30px 0;
  gap: 25px;
  list-style: none;
}
.lots__card-list-item{
  position: relative;
  z-index: 0;
  flex-grow: 1;
  min-height: 563px;
}

.card-link{
  display: block;
  height: 100%;
  text-decoration: none;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 334px;
  padding: 51px 40px 48px;
  color: #FFF;
}

.card__title{
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline 1px solid #FFF;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text{
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link{
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  text-decoration: underline 1px solid #000;
  text-underline-offset: 4px;
}

.card_backgroung-image-config{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film{
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book{
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture{
  background-image: url(../images/card-lot-03.jpg);
}

.about{
  padding: 146px 24px 180px;
}

.about_column{
  display: grid;
  grid-template-columns: 359px auto;
  grid-template-rows: 275px auto;
}

.about__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  margin: 35px 72px 0 47px;
  border-radius: 100%;
  background-color: #000;
}

.about__logo-image{
  width: 148px;
  height: 114px;
}

.about__title{
  grid-column: 2;
  padding-top: 42px;
  align-self: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000;
}

.about__text{
  grid-area: 2 / 2;
  padding-top: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #000;
}

.about__text > p:first-child{
  margin-bottom: 24px;
}

.footer{
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 78px;
}

.footer__menu-list{
  list-style: none;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000;
}

.footer__menu-link{
  text-decoration: none;
}

.footer__social-list{
  display: flex;
  list-style: none;
  gap:48px;
}

.footer__social-icon{
  max-width: 48px;
}

.header__contact-information,
.footer__contact-information{
  margin-left: auto;
  padding: 6px 63px 2px 0;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #000;
}

.footer__contact-information{
  margin: 0;
  padding: 0 38px 0 0;
}

.header__contact-information-links,
.footer__contact-information-links{
  text-decoration: none;
}

.header__address,
.footer__address
{
  font-style: normal;
  padding: 1px 0 0 1px;
}

.header__link_underlined,
.footer__link_underlined{
  text-decoration: underline 1px solid #000;
  text-underline-offset: 4px;
}

.header__link_active,
.footer__link_active{
  text-decoration: none !important;
}

.aligned-text_center{
  text-align: center;
}

.aligned-text_right{
  text-align: right;
}

.no_letter_spacing{
  letter-spacing: 0;
}



